In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Heart_disease_statlog.csv')
df.head()

,age,Gender,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,70.0,1.0,3,130.0,322,0.0,2,109.0,0,2.4,1,3,1,1
1,67.0,0.0,2,115.0,564,0.0,2,160.0,0,1.6,1,0,3,0
2,57.0,1.0,1,124.0,261,0.0,0,141.0,0,0.3,0,0,3,1
3,64.0,1.0,3,128.0,263,0.0,0,105.0,1,NaN,1,1,3,0
4,74.0,0.0,1,NaN,269,0.0,2,121.0,1,0.2,0,1,1,0

,age,Gender,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,70.0,1.0,3,130.0,322,0.0,2,109.0,0,2.4,1,3,1,1
1,67.0,0.0,2,115.0,564,0.0,2,160.0,0,1.6,1,0,3,0
2,57.0,1.0,1,124.0,261,0.0,0,141.0,0,0.3,0,0,3,1
3,64.0,1.0,3,128.0,263,0.0,0,105.0,1,NaN,1,1,3,0
4,74.0,0.0,1,NaN,269,0.0,2,121.0,1,0.2,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52.0,1.0,2,172.0,199,1.0,0,162.0,0,0.5,0,0,3,0
266,44.0,1.0,1,120.0,263,0.0,0,173.0,0,0.0,0,0,3,0
267,56.0,0.0,1,140.0,294,0.0,2,153.0,0,1.3,1,0,1,0
268,57.0,1.0,3,140.0,192,0.0,0,148.0,0,0.4,1,0,2,0
269,67.0,1.0,3,160.0,286,0.0,2,108.0,1,1.5,1,3,1,1

In [4]:
df.head()

,age,Gender,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,70.0,1.0,3,130.0,322,0.0,2,109.0,0,2.4,1,3,1,1
1,67.0,0.0,2,115.0,564,0.0,2,160.0,0,1.6,1,0,3,0
2,57.0,1.0,1,124.0,261,0.0,0,141.0,0,0.3,0,0,3,1
3,64.0,1.0,3,128.0,263,0.0,0,105.0,1,NaN,1,1,3,0
4,74.0,0.0,1,NaN,269,0.0,2,121.0,1,0.2,0,1,1,0

In [4]:
df.isnull()

,age,Gender,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,False,False,False,False,False,False,False,False,False,False,False,False,False,False
266,False,False,False,False,False,False,False,False,False,False,False,False,False,False
267,False,False,False,False,False,False,False,False,False,False,False,False,False,False
268,False,False,False,False,False,False,False,False,False,False,False,False,False,False
269,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
df.isnull().sum()

age          1
Gender       2
cp           0
trestbps    14
chol         0
fbs          1
restecg      0
thalach      7
exang        0
oldpeak      3
slope        0
ca           0
thal         0
target       0
dtype: int64

In [9]:
df.dropna()

,age,Gender,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,70.0,1.0,3,130.0,322,0.0,2,109.0,0,2.4,1,3,1,1
1,67.0,0.0,2,115.0,564,0.0,2,160.0,0,1.6,1,0,3,0
2,57.0,1.0,1,124.0,261,0.0,0,141.0,0,0.3,0,0,3,1
6,56.0,1.0,2,130.0,256,1.0,2,142.0,1,0.6,1,1,2,1
10,59.0,1.0,3,135.0,234,0.0,0,161.0,0,0.5,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52.0,1.0,2,172.0,199,1.0,0,162.0,0,0.5,0,0,3,0
266,44.0,1.0,1,120.0,263,0.0,0,173.0,0,0.0,0,0,3,0
267,56.0,0.0,1,140.0,294,0.0,2,153.0,0,1.3,1,0,1,0
268,57.0,1.0,3,140.0,192,0.0,0,148.0,0,0.4,1,0,2,0
269,67.0,1.0,3,160.0,286,0.0,2,108.0,1,1.5,1,3,1,1